<launch>

	<!-- robot model & integration with low level encoder data-->
	<include file="$(find amigo_state_publisher)/start.launch" />

	<!-- Navigation -->
	<include file="$(find amigo_launch_files)/launch/apps/gmapping.launch" />
	
	<!-- Arm & gripper control -->
	<include file="$(find amigo_launch_files)/launch/apps/arms.launch" />
	
	<!-- Head control -->
	<include file="$(find amigo_head_ref)/start.launch" />
	
</launch>
