<launch>

	<!-- Navigation -->
	<include file="$(find amigo_launch_files)/launch/apps/gmapping.launch" />
	
	<!-- Arm & gripper control -->
	<include file="$(find amigo_launch_files)/launch/apps/arms.launch" />
	
	<!-- Head control -->
	<include file="$(find amigo_head_ref)/start.launch" />
	
</launch>
