<?xml version="1.0"?>

<launch>
	    
    <group unless="$(optenv ROBOT_SIM true)">    
        <!-- REAL ROBOT -->    
        <include file="$(find text_to_speech_philips)/start.launch" />
    </group>

    <group if="$(optenv ROBOT_SIM true)">    
        <!-- SIMULATION -->
        <!-- Why different from real robot? And does text to speech even work in simulation? -->
        <include file="$(find text_to_speech)/start.launch" /> 
    </group>
		
</launch>
