<?xml version="1.0"?>

<launch>

    <!-- Local planner -->
    <node pkg="cb_base_navigation" type="cb_base_navigation_local_planner_interface" name="local_planner_interface" ns="cb_base_navigation" output="screen">
        <!-- Local Planner Settings -->
        <rosparam file="$(find amigo_parameters)/parameters/navigation/local_planner.yaml" command="load" />
        <!-- Local Costmap Settings -->
        <rosparam file="$(find amigo_parameters)/parameters/navigation/local_costmap.yaml" command="load" ns="local_costmap" />
        <!-- Topic remapping -->
        <remap from="odom" to="/amigo/base/measurements" />
        <remap from="cmd_vel" to="/amigo/base/references" />
    </node>

    <!-- Global planner -->
    <node pkg="cb_base_navigation" type="cb_base_navigation_global_planner_interface" name="global_planner_interface" ns="cb_base_navigation" output="screen">
        <!-- Global Planner Settings -->
        <rosparam file="$(find amigo_parameters)/parameters/navigation/global_planner.yaml" command="load" />
        <!-- Global Costmap Settings -->
        <rosparam file="$(find amigo_parameters)/parameters/navigation/global_costmap.yaml" command="load" ns="global_costmap" />
    </node>
    
</launch>
