<?xml version="1.0"?>
<launch>
   
    <include file="$(find amigo_machine_files)/machines/amigo4.machine" />

    <!-- RE VSLAM -->
    <node pkg="ctam_tracking" type="CTAMtracking" name="CTAMtracking" cwd="node" respawn="false" output="screen" machine="amigo4"> 
  	<param name="mode" type="int" value="1" />
  	<param name="stat" type="int" value="0" />
    </node>

    <node pkg="ctam_mapping" type="CTAMmapping" name="CTAMmapping"  args="" cwd="node" respawn="false" output="screen" machine="amigo4">
  	<param name="numKeyFrames" type="int" value="-1" />
    </node>

 </launch>
  
