<?xml version="1.0"?>
<launch>
    <arg name="gui" default="true"/>
    <arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_A)" />
    <arg name="robot_init_x" default="$(optenv GAZEBO_ROBOT_INIT_X 0)"/>
    <arg name="robot_init_y" default="$(optenv GAZEBO_ROBOT_INIT_Y 0)"/>
    <arg name="robot_init_phi" default="$(optenv GAZEBO_ROBOT_INIT_PHI 0)"/>
    <arg name="ROBOT_COMPLEXITY" default="$(optenv ROBOT_COMPLEXITY complex)" />
    <arg name="teleport" default="false"/>    
    <arg name="kinect_raytracing" default="true"/>
    <arg name="fake_localization" default="true"/>

    <node pkg="common_admin_files" type="print_error.py" name="print_error" args="'Please run rsettings, and change the line *export SIMULATOR=gazebo_new* into *export SIMULATOR=gazebo*. Sorry for the inconvenience! If you cannot get it to work, please ask Sjoerd.'"/>
</launch>
