<?xml version="1.0"?>

<launch>
<!-- KINECT -->

  <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo4.machine" />

<group ns="base_kinect">
  <node pkg="openni_camera" type="openni_node" name="kinect" output="screen" machine="amigo4">
    <!--param name="topic" value="first" /-->
    <!--param name="device_id" value="2@3" --> <!-- this line uses device on usb bus 2 and addres 3 -->
    <!--param name="device_id" value="B00367707227042B"/--> <!-- this line uses device with given serial number -->
    
    <param name="device_id" value="#1"/> <!-- this line uses first enumerated device -->
    <rosparam command="load" file="$(find openni_camera)/info/openni_params.yaml" />
    <param name="rgb_frame_id" value="base_kinect_openni_rgb_optical_frame" />
    <param name="depth_frame_id" value="base_kinect_openni_depth_optical_frame" />
    <param name="use_indices" value="false" />
    <param name="depth_registration" value="true" />
    <param name="image_mode" value="2" />
    <param name="depth_mode" value="2" />
    <param name="debayering" value="2" />
    <param name="depth_time_offset" value="0" />
    <param name="image_time_offset" value="0" />
  </node>

<!-- Static frames -->

  <!--<node pkg="tf" type="static_transform_publisher" name="kinect_base_link" args="0 -0.02 0 0 0 0  /openni_camera /openni_depth_frame 100"  machine="amigo1" />  
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link1" args="0 -0.04 0 0 0 0  /openni_camera /openni_rgb_frame 100"  machine="amigo1" />  
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link2" args="0 0 0 -1.57 0 -1.57 /openni_depth_frame /openni_depth_optical_frame  100"  machine="amigo1" />  
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link3" args="0 0 0 -1.57 0 -1.57 /openni_rgb_frame /openni_rgb_optical_frame 100" machine="amigo1"/> --> 

  <!-- voxelizer -->
  <!-- include file="$(find amigo_point_voxelizer)/launch/amigo_point_voxelizer.launch" /-->
  
    <!--<node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" machine="amigo1"/>-->

    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen" machine="amigo4">
      <remap from="~input" to="/camera/rgb/points" />
      <remap from="~output" to="/camera/rgb/points_voxelized" />
      <rosparam>
        filter_field_name: z
        filter_limit_min: 0.01
        filter_limit_max: 4.5
        filter_limit_negative: False
        frame_out: base_link
        leaf_size: 0.01
      </rosparam>
    </node>

  <!-- point cloud converter so that navigation maps accept incoming clouds from kinect -->
  <node pkg="point_cloud_converter" type="point_cloud_converter" name="kinect_cloud_converter" machine="amigo4" >
    <remap from="points2_in" to="/camera/rgb/points_voxelized"/>
    <remap from="points_out" to="/camera/rgb/points_voxelized_pc1_format"/>
  </node>

 <!-- point cloud converter so that navigation maps accept incoming clouds from kinect -->
 <!--<node pkg="semantic_point_annotator" type="sac_inc_ground_removal_node" name="sac_ground_removal" machine="amigo4" >
    <remap from="tilt_laser_cloud_filtered" to="/camera/rgb/points_voxelized_pc1_format_voxel" />
    <remap from="cloud_ground_filtered" to="/camera/rgb/points_voxelized_pc1_format" />
    <param name="z_threshold" value="0.15" />
    <param name="sac_min_points_per_model" value="6" />
    <param name="sac_distance_threshold" value="0.05" />
    <param name="planar_refine" value="1" />
  </node>-->

<group>

</launch>
