<?xml version="1.0"?>

<launch>
<!-- KINECT -->

  <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo4.machine" />
  <include file="$(find amigo_machine_files)/machines/localhost.machine" />

  <arg if="$(optenv ROBOT_REAL false)" name="machine" value="amigo4"/>
  <arg unless="$(optenv ROBOT_REAL false)" name="machine" value="localhost"/> 
  
  <!-- voxelizer -->
  <!-- include file="$(find amigo_point_voxelizer)/launch/amigo_point_voxelizer.launch" /-->

  <node pkg="nodelet" type="nodelet" name="base_kinect_pcl_manager" args="manager" output="screen" machine="$(arg machine)"/>

    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <node pkg="nodelet" type="nodelet" name="base_kinect_voxel_grid" args="load pcl/VoxelGrid base_kinect_pcl_manager" output="screen" machine="$(arg machine)">
      <remap from="~input" to="/base_kinect/camera/rgb/points" />
      <remap from="~output" to="/base_kinect/camera/rgb/points_voxelized" />
      <rosparam>
        filter_field_name: z
        filter_limit_min: 0.01
        filter_limit_max: 4.5
        filter_limit_negative: False
        frame_out: base_link
        leaf_size: 0.01
      </rosparam>
    </node>

  <!-- point cloud 1->2 converter so that navigation maps accept incoming clouds from kinect -->
  <node pkg="point_cloud_converter" type="point_cloud_converter" name="base_kinect_kinect_cloud_converter" machine="$(arg machine)" >
    <remap from="points2_in" to="/base_kinect/camera/rgb/points_voxelized"/>
    <remap from="points_out" to="/base_kinect/camera/rgb/points_voxelized_pc1_format"/>
  </node>

</launch>
