<launch>
    <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo3.machine" />

  <node name="dynamixel_node" pkg="dynamixel" type="dynamixel_node" machine="amigo3">
  </node>
  
  <include file="$(find amigo_launch_files)/launch/sensors/ax12_static_tf_kinect.launch" />
</launch>
