<?xml version="1.0"?>

<launch>	
	
	<!-- Base laser (only for real robot; in simulation base laser is loaded by Gazebo) -->
	<include file="$(find amigo_launch_files)/launch/sensors/base_laser.launch"/>

	<!-- Top Kinect (only for real robot; in simulation Kinect is loaded by Gazebo) -->
        <include file="$(find amigo_launch_files)/launch/sensors/top_kinect.launch"/>
        
        <!-- Base Kinect (only for real robot; in simulation Kinect is loaded by Gazebo) -->
	<!--<include file="$(find amigo_launch_files)/launch/sensors/base_kinect.launch"/>-->
        
</launch>
