<?xml version="1.0"?>

<launch>

  <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
  <include file="$(find amigo_machine_files)/machines/amigo4.machine" />

<group ns="camera">
    <!-- The nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="manager" args="manager" output="screen" machine="amigo1"/>

    <!-- Openni driver nodelet -->
    <node pkg="nodelet" type="nodelet" name="driver" args="load openni_camera/driver manager" machine="amigo1">
      <param name="device_id" value="#1"/>
      <param name="rgb_frame_id" value="openni_rgb_optical_frame" />
      <param name="depth_frame_id" value="openni_depth_optical_frame" />
      <param name="use_indices" value="false" />
      <param name="depth_registration" value="true" />
    </node>

    <!-- throttling -->
    <node pkg="nodelet" type="nodelet" name="pointcloud_throttle" respawn="true" args="load pointcloud_to_laserscan/CloudThrottle camera_nodelet_manager" machine="amigo1">
      <param name="max_rate" value="10.0"/> <!-- This number is terribly inaccurate.  20 seems to produce outputs of 15Hz; 30Hz in produces 20Hz out -->
      <remap from="cloud_in" to="/camera/rgb/points" />
      <remap from="cloud_out" to="/camera/rgb/points_throttled" />
    </node>

    <!-- voxel: super CPU intensive, do not use? -->
    <!-- The CPU usage very much depends on the leaf_size.  It's acceptable with some throttling and at 0.01.  Without throttling or set to something ridiuclous like 0.001, the number of checks become insane. -->
    <node pkg="nodelet" type="nodelet" name="voxel_grid_nodelet" respawn="true" args="load pcl/VoxelGrid camera_nodelet_manager" output="screen" machine="amigo1">
      <remap from="~input" to="/camera/rgb/points_throttled" />
      <remap from="~output" to="/camera/rgb/points_throttled_and_voxelized" />
      <rosparam>
        <!-- Don't really need any of this, and a missing field_name will cause it to automatically apply to all axes. -->
        filter_field_name: ""
        filter_limit_min: 0.0
        filter_limit_max: 5.0
        filter_limit_negative: False
        leaf_size: 0.01
      </rosparam>
    </node>

    <!-- Fake Laser - Just for fun because it's cool. -->
    <!--<node pkg="nodelet" type="nodelet" name="kinect_laser" respawn="true" args="load pointcloud_to_laserscan/CloudToScan camera_nodelet_manager" machine="amigo1">
      <remap from="cloud" to="/camera/depth_registered/points_throttled/points_voxel"  />
      <remap from="scan" to="/kinect_scan" />
      <param name="output_frame_id" value="/camera_depth_optical_frame" />
    </node>-->

    <!-- Cool 3D visualisatio window. Folder is located in ../user/rob -->
    <!--<node pkg="nodelet" type="nodelet" name="TTKinect" args="load HelloNodelet/TTKinect camera_nodelet_manager" output="screen" machine="amigo1">
      <remap from="cloud_in" to="/camera/depth_registered/points"/>
    </node>-->

</group>

</launch>
