<?xml version="1.0"?>

<launch>

    <arg if="$(optenv ROBOT_REAL false)" name="machine" default="amigo1"/>
    <arg unless="$(optenv ROBOT_REAL false)" name="machine" default="localhost"/>
    <include file="$(find amigo_machine_files)/machines/$(arg machine).machine" /> 
  
   <!-- The nodelet manager -->
    <!-- <node pkg="nodelet" type="nodelet" name="manager" args="manager" output="screen" machine="$(arg machine)"/> -->

    <!-- Openni driver nodelet -->
    <!--<node pkg="nodelet" type="nodelet" name="driver" args="load openni_camera/OpenNINodelet manager" machine="$(arg machine)">
      <param name="device_id" value="#1"/>
      <param name="rgb_frame_id" value="openni_rgb_optical_frame" />
      <param name="depth_frame_id" value="openni_depth_optical_frame" />
      <param name="use_indices" value="false" />
      <param name="depth_registration" value="true" />
    </node>-->
    <include file="$(find openni_launch)/launch/openni.launch" >
		<!--<arg name="machine" value="$(arg machine)" />-->
		<arg name="device_id" value="#1"/>
		<arg name="rgb_frame_id" value="openni_rgb_optical_frame" />
		<arg name="depth_frame_id" value="openni_depth_optical_frame" />
		<!--<arg name="use_indices" value="false" />-->
		<arg name="depth_registration" value="true" />
                <arg name="publish_tf" value="false"/>
    </include>

    <!-- Fake Laser - Just for fun because it's cool. -->
    <!--<node pkg="nodelet" type="nodelet" name="kinect_laser" respawn="true" args="load pointcloud_to_laserscan/CloudToScan manager" machine="$(arg machine)">
      <remap from="cloud" to="/camera/depth_registered/points_throttled/points_voxel"  />
      <remap from="scan" to="/kinect_scan" />
      <param name="output_frame_id" value="/camera_depth_optical_frame" />
    </node>-->

    <!-- Cool 3D visualisation window. Folder is located in ../user/rob -->
    <!--<node pkg="nodelet" type="nodelet" name="TTKinect" args="load HelloNodelet/TTKinect manager" output="screen" machine="$(arg machine)">
      <remap from="cloud_in" to="/camera/depth_registered/points"/>
    </node>-->

</launch>
