<?xml version="1.0"?>

<launch>

	<arg name="ROBOT_REAL" />

	<!-- Collects all the diagnostics messages -->
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diag_agg" args="CPP" output="screen" ns="amigo">
        <rosparam command="load" file="$(find amigo_launch_files)/launch/diagnostics/parameters/general_analyzers.yaml" />
        <rosparam command="load" file="$(find amigo_launch_files)/launch/diagnostics/parameters/hardware_analyzers.yaml" />
    </node>


	<!-- Checks if nodes are still running -->
    <node name="node_alive_server" type="node_alive_server" pkg="node_alive" ns="amigo">
	    <rosparam command="load" file="$(find amigo_launch_files)/launch/diagnostics/parameters/neglect_nodes.yaml" />
    </node>

	<!-- Start challenge logger -->
	<include file="$(find challenge_logger)/launch/start.launch" />

	<!-- The challenge_logger needs cpu_monitor information -->
    <!--
	<include file="$(find amigo_diagnostics)/launch/cpu_monitor.launch" />
	<include file="$(find amigo_diagnostics)/launch/hd_monitor.launch" />
	<include file="$(find amigo_diagnostics)/launch/ntp_monitor.launch" />
    -->

	<group if="$(arg ROBOT_REAL)">

		<!-- BATTERY -->
        <node pkg="battery_manager" type="battery_manager" respawn="false" name="battery_manager" output="screen" ns="amigo">
            <rosparam file="$(find amigo_launch_files)/launch/diagnostics/parameters/battery_parameters.yaml" command="load" />
        </node>

		<!-- EMERGENCY BUTTON -->
        <node pkg="emergency_speakup" type="emergency_speakup" respawn="true" name="emergency_speakup" ns="amigo" />

	</group>

</launch>



