<launch>

<!-- INTEGRATION -->

<!--laser (filtering) -->
  <include file="$(find amigo_laser_filter)/start_base_filter.launch" />
  
<!--  <include file="$(find amigo_launch_files)/launch/sensors/kinect.launch" />-->
  
<!-- ETHERCAT HARDWARE -->
  <include file="$(find amigo_launch_files)/launch/actuators/all_etherCAT_hardware.launch" />

</launch>



