<launch>

<!-- GRAPHICAL USER INTERFACE -->
  <!--<include file="$(find amigo_launch_files)/launch/interaction/webui.launch" />-->
  
<!-- DIAGNOSTICS -->
  <include file="$(find amigo_launch_files)/launch/diagnostics/diagnostics.launch" />
   
<!-- TEXT TO SPEECH -->
  <include file="$(find amigo_launch_files)/launch/interaction/speech.launch" />
  
<!-- LASER -->
  <include file="$(find amigo_laser)/start.launch" />
  
<!-- robot model & integration with low level encoder data-->
  <include file="$(find amigo_state_publisher)/start.launch" />

<!-- hardware controllers -->
  <include file="$(find amigo_launch_files)/launch/actuators/controller_enabler.launch" />

 </launch>
  
