<launch>

<!-- GRAPHICAL USER INTERFACE -->
  <include file="$(find amigo_launch_files)/launch/interaction/webui.launch" />
  
<!-- DIAGNOSTICS -->
  <include file="$(find amigo_launch_files)/launch/diagnostics/diagnostics.launch" />
   
<!-- TEXT TO SPEECH -->
  <include file="$(find amigo_launch_files)/launch/interaction/speech.launch" />

 </launch>
  
