<?xml version="1.0"?>
<launch>

    <!--
        Starts the basic functionalities of the robot:
          - Robot model
          - Sensors
          - Self filtering
          - Diagnostics
          - Text to speech

        On the real robot, the hardware controllers are NOT started (only the controller enabler).
        These can be started seperately through the amigo dashboard.
    -->

    <arg name="gui" default="true"/>

    <arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_A)" />

    <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />
    <arg name="ROBOT_COMPLEXITY" default="$(optenv ROBOT_COMPLEXITY complex)" />

    <!-- Used by fast_simulator: set to true to instantly move to goals while navigating -->
    <arg name="teleport" default="false"/>    
    <arg name="kinect_raytracing" default="true"/>

    <!-- load robot -->
    <param name="/amigo/robot_description" textfile="$(find amigo_description)/urdf/amigo.urdf" />

    <!-- load robot joint group info -->
    <rosparam file="$(find amigo_description)/custom/joint_groups.yaml" command="load" />

	<!-- DIAGNOSTICS -->
	<include file="$(find amigo_launch_files)/launch/diagnostics/diagnostics.launch">
		<arg name="ROBOT_REAL" value="$(arg ROBOT_REAL)"/>
	</include>

    <group if="$(arg ROBOT_REAL)">
        <!-- REAL ROBOT -->

        <!-- GRAPHICAL USER INTERFACE -->
        <!--<include file="$(find amigo_launch_files)/launch/interaction/webui.launch" />-->
             
        <!-- robot model & integration with low level encoder data-->
        <include file="$(find amigo_state_publisher)/start.launch" />

        <!-- hardware controller enabler -->
        <include file="$(find amigo_launch_files)/launch/actuators/controller_enabler.launch" />

        <!-- RGB lights manager -->
        <node name="rgb_lights_manager" pkg="rgb_lights_manager" type="rgb_lights_manager" output="screen" />

        <!-- Amplifier enabler -->
        <node name="amplifier_enabler" pkg="amigo_amplifier_enabler" type="amplifier_enabler" output="screen" />

		<!-- Phone UI -->
		<!-- Launch the websocket server (communication via roslib) -->
		<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
		<!-- Start the simple webserver to handle static files -->    
		<node pkg="amigo_mobile_ui" type="webserver.py" name="amigo_mobile_webserver" output="screen" />
		
    </group>

    <group unless="$(arg ROBOT_REAL)">
        <!-- SIMULATION -->
        <include file="$(find amigo_launch_files)/launch/simulator/$(optenv SIMULATOR).launch">
            <arg name="gui" value="$(arg gui)"/>
            <arg name="env" value="$(arg env)"/>
            <arg name="teleport" value="$(arg teleport)"/>
            <arg name="kinect_raytracing" value="$(arg kinect_raytracing)"/>
        </include>     
    </group>

    <!-- launch node that converts sensor_msgs/JointState to amigo_msgs/arm_joints -->

    <!-- Self filter (robots self removed from Kinect pointcloud on topic /camera/depth/points_self_filtered) -->
    <!--<include file="$(find amigo_self_filter)/start_filter.launch"/>-->

    <!-- Start ps3 teleop -->
    <!--<include file="$(find amigo_launch_files)/launch/interaction/teleop_ps3_joystick.launch" />-->

 </launch>
  
