<?xml version="1.0"?>
<launch>

    <!--
        Starts the basic functionalities of the robot:
          - Robot model
          - Sensors
          - Self filtering
          - Diagnostics
          - Text to speech

        On the real robot, the hardware controllers are NOT started (only the controller enabler).
        These can be started seperately through the amigo dashboard.
    -->

    <arg name="ROBOT_MAP" default="$(find amigo_maps)/worlds/mexicoA.world" />

    <group if="$(optenv ROBOT_REAL false)">
        <!-- REAL ROBOT -->

        <!-- GRAPHICAL USER INTERFACE -->
        <!--<include file="$(find amigo_launch_files)/launch/interaction/webui.launch" />-->

        <!-- DIAGNOSTICS -->
        <include file="$(find amigo_launch_files)/launch/diagnostics/diagnostics.launch" />
             
        <!-- robot model & integration with low level encoder data-->
        <include file="$(find amigo_state_publisher)/start.launch" />

        <!-- hardware controller enabler -->
        <include file="$(find amigo_launch_files)/launch/actuators/controller_enabler.launch" />

	<!-- RGB lights manager -->
	<node name="rgb_lights_manager" pkg="rgb_lights_manager" type="rgb_lights_manager" output="screen" />
	
	<!-- Amplifier enabler -->
	<node name="amplifier_enabler" pkg="amigo_amplifier_enabler" type="amplifier_enabler" output="screen" />

        <!-- Start all sensors -->
        <include file="$(find amigo_launch_files)/launch/sensors/sensors.launch" />

    </group>

    <group unless="$(optenv ROBOT_REAL false)">
        <!-- SIMULATION -->

        <!-- Required simulation parameter -->
        <param name="/use_sim_time" value="true"/>

        <!-- start world file and objects (export HEADLESS to -r if you want to run gazebo headless, this is done on the Jenkins server, ask Rob J-->
	<node name="gazebo" pkg="gazebo" type="gazebo" args="$(optenv GAZEBO_HEADLESS) $(arg ROBOT_MAP)" respawn="false" output="screen"/>
        <include file="$(find amigo_maps)/objects/objects.launch"/>

        <!-- start controller manager (rviz) -->
        <include file="$(find pr2_controller_manager)/controller_manager.launch"/>

        <!-- Simulation controllers -->
        <include file="$(find amigo_simulation_controllers)/controllers.launch"/>

        <!-- load robot -->
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find amigo_robot_model)/robot.urdf.xacro' " />

        <!-- push robot_description to factory and spawn robot in gazebo -->
        <node name="spawn_amigo" pkg="gazebo" type="spawn_model" args=" -unpause -urdf -param robot_description -model amigo -x -6.5 -y -2.4 -z 0.0" respawn="false" output="screen" />
        
        
    </group>


    <!-- Self filter (robots self removed from Kinect pointcloud on topic /camera/depth/points_self_filtered) -->
    <!--<include file="$(find amigo_self_filter)/start_filter.launch"/>-->

    <!-- Start text to speech -->
    <include file="$(find amigo_launch_files)/launch/interaction/text_to_speech.launch" />
    
    <!-- Start ps3 teleop -->
    <include file="$(find amigo_launch_files)/launch/interaction/teleop_ps3_joystick.launch" />

 </launch>
  
