<?xml version="1.0"?>

<launch>

    <arg name="ROBOT_COMPLEXITY" default="$(optenv ROBOT_COMPLEXITY complex)" />

    <include file="$(find amigo_arm_navigation)/start.launch">
        <arg name="ROBOT_COMPLEXITY" value="$(arg ROBOT_COMPLEXITY)"/>
    </include>

    <include file="$(find amigo_gripper_server)/launch/start.launch" />
    
    <include file="$(find amigo_marker_detection)/launch/amigo_gripper_detection.launch" />
      
</launch>
