<?xml version="1.0"?>

<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find amigo_base_navigation)/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find amigo_base_navigation)/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find amigo_base_navigation)/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find amigo_base_navigation)/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find amigo_base_navigation)/base_local_planner_params.yaml" command="load" />
        <param name="base_local_planner" value="amigo_navigation_local/AmigoLocalPlanner"/>
        <param name="planner_frequency" value="0"/>        

        <!-- IF IN SIMULATION, NEED TO DO REMAP -->
        <remap from="/cmd_vel" to="/base_controller/cmd_vel" unless="$(optenv ROBOT_REAL false)"/>
        
    </node>

</launch>
