<?xml version="1.0"?>
    
<launch>

    <arg name="machine" value="$(optenv MACHINE_BASE_NAVIGATION_3D localhost)"/>
    <include file="$(find amigo_machine_files)/machines/$(arg machine).machine" />
    <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />
    <arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_A)" />
    <arg name="load_octomap" default="false" />
    <arg name="use_self_filter" default="true" />
        
    <arg name="gdb" default="false"/>
    <arg if="$(arg gdb)" name="launch-prefix" value="gdb -ex run --args"/>
    <arg unless="$(arg gdb)" name="launch-prefix" value=""/>
    
    <!-- Start tue_move_base with the projected map from tue_map_3d (octomap) -->
    <node pkg="tue_move_base_3d" type="move_base_3d" respawn="true" name="move_base_3d" output="screen" machine="$(arg machine)" launch-prefix="$(arg launch-prefix)">
        <!-- local and global planner parameters -->        
        <rosparam file="$(find tue_move_base_3d)/parameters/move_base_3d.yaml" command="load" />

        <!-- Map parameters for octomap -->        
        <rosparam file="$(find tue_move_base_3d)/parameters/map3d_params.yaml" command="load" />

        <!-- Projected map settings for octomap -->
        <rosparam file="$(find tue_move_base_3d)/parameters/projected_map_params.yaml" command="load" />
        
        <!-- Set correct map topics for tue_map_3d node -->
        <param name="load_octomap" value="$(arg load_octomap)" />
        <param name="octomap_dir" value="$(find amigo_maps)/octomaps/" />
        <param name="octomap_filename" value="$(arg env).ot" /> 
        <remap from="/cloud_in" to="/fused_pointclouds" /> 
        <remap from="/map" to="/octree_map" />
        <remap from="/cmd_vel" to="/amigo/base/references"/>
        
        <!-- Set correct map topic for velocoity that is sent to the base -->
        <remap from="cmd_vel" to="/amigo/base/references"/>
          
    </node>
    
    <!-- Start the node that converts the laser data to a pointcloud -->
    <!-- <node pkg="tue_laser_to_pointcloud" type="laser_to_pointcloud" name="laser_to_pointcloud" machine="$(arg machine)"/> -->
    <node pkg="scan_to_cloud_converter" type="scan_to_cloud_converter_node" name="scan_to_cloud_converter_node" machine="$(arg machine)">
        <remap from="/scan" to="amigo/base_front_laser" /> 
        <remap from="/cloud" to="/fused_pointclouds" />
    </node> 
    
    <!-- Start the node that constructs a pointcloud from a depth image -->
    <node pkg="depth_map_to_point_cloud" type="depth_map_to_point_cloud_node" name="depth_map_to_point_cloud_node" machine="$(arg machine)">
        <remap from="/camera_info" to="/amigo/top_kinect/rgb/camera_info" />
        <remap if="$(arg use_self_filter)" from="/depth_image" to="/amigo/top_kinect/depth_registered/image_self_filtered" />
        <remap unless="$(arg use_self_filter)" from="/depth_image" to="/amigo/top_kinect/depth_registered/image" />
        <remap from="/point_cloud" to="/fused_pointclouds" />
        <param name="/max_range" value="4" />
        <param name="/sub_sample_factor" value="0.25" />
    </node> 

    <group if="$(arg use_self_filter)">
        <!-- Node that filters the arms out of the depth image -->
        <node pkg="depth_map_self_filter" type="self_filter" name="depth_map_self_filter" machine="$(arg machine)">
            <remap from="/camera_info" to="/amigo/top_kinect/rgb/camera_info" />
            <remap from="/depth_image" to="/amigo/top_kinect/depth_registered/image" />
        </node>
    </group>
            
    <!-- REAL ROBOT: use throttled and voxelized topics -->
    <group if="$(arg ROBOT_REAL)">
    <!-- Base Kinect (only for real robot; in simulation Kinect is loaded by Gazebo) -->
        <!--<include file="$(find amigo_launch_files)/launch/sensors/base_kinect.launch"/>-->
    <!-- Relay laser, base- and head kinect pointclouds to fused_pointclouds topic -->
         <!-- <node args="/base_scan_pointcloud /fused_pointclouds" name="base_scan_to_fused_pointclouds" pkg="topic_tools" type="relay" /> -->
         <!-- <node args="/base_camera/depth/points_throttled_and_voxelized /fused_pointclouds" name="base_camera_to_fused_pointclouds" pkg="topic_tools" type="relay" /> -->
         <!-- <node args="/camera/depth/points_throttled_and_voxelized /fused_pointclouds" name="camera_to_fused_pointclouds" pkg="topic_tools" type="relay" />-->
    </group>
    
    <!-- SIMULATION: use original topics, note that the camera namespace is absent for base_camera! (must be fixed in urdf model) -->
    <group unless="$(arg ROBOT_REAL)">
    <!-- Relay laser, base- and head kinect pointclouds to fused_pointclouds topic -->
         <!-- <node args="/base_scan_pointcloud /fused_pointclouds" name="base_scan_to_fused_pointclouds" pkg="topic_tools" type="relay" /> -->
         <!--<node args="/base_camera/rgb/points /fused_pointclouds" name="base_camera_to_fused_pointclouds" pkg="topic_tools" type="relay" /> -->
         <!--<node args="/camera/rgb/points /fused_pointclouds" name="camera_to_fused_pointclouds" pkg="topic_tools" type="relay" /> -->
    </group>
   
</launch>

