<?xml version="1.0"?>

<launch>

    <arg name="machine" value="$(optenv MACHINE_BASE_NAVIGATION localhost)"/>
    <include file="$(find amigo_machine_files)/machines/$(arg machine).machine" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" machine="$(arg machine)">
        <!-- local and global planner parameters -->        
        <rosparam file="$(find amigo_launch_files)/parameters/move_base_follow_me.yaml" command="load" />

        <!-- Common costmap parameters -->        
        <rosparam file="$(find amigo_launch_files)/parameters/costmap_common_params_follow_me.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find amigo_launch_files)/parameters/costmap_common_params_follow_me.yaml" command="load" ns="local_costmap" />

        <!-- Global costmap settings -->
        <rosparam file="$(find amigo_launch_files)/parameters/costmap_global_params_follow_me.yaml" command="load" />

        <!-- Local costmap settings -->
        <rosparam file="$(find amigo_launch_files)/parameters/costmap_local_params_follow_me.yaml" command="load" />

        <!-- IF IN SIMULATION, NEED TO DO REMAP -->
        <!-- Sjoerd: adjusted simulation base controller, so not necessary anymore! -->
        <!--remap from="/cmd_vel" to="/base_controller/cmd_vel" unless="$(optenv ROBOT_REAL false)"/ -->
        
    </node>

</launch>
