<?xml version="1.0"?>

<launch>

    <arg if="$(optenv ROBOT_REAL false)" name="machine" default="amigo4"/>
    <arg unless="$(optenv ROBOT_REAL false)" name="machine" default="localhost"/>
    <include file="$(find amigo_machine_files)/machines/$(arg machine).machine" /> 
    
    <node pkg="tue_move_base" type="move_base" respawn="true" name="move_base" output="screen" machine="$(arg machine)">
        <!-- local and global planner parameters -->        
        <rosparam file="$(find tue_move_base)/parameters/move_base.yaml" command="load" />

        <!-- Common costmap parameters -->        
        <rosparam file="$(find tue_move_base)/parameters/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <!-- <rosparam file="$(find tue_move_base)/parameters/costmap_common_params.yaml" command="load" ns="local_costmap" /> --> 

        <!-- Global costmap settings -->
        <rosparam file="$(find tue_move_base)/parameters/costmap_global_params.yaml" command="load" />

        <!-- Local costmap settings -->
        <!-- <rosparam file="$(find tue_move_base)/parameters/costmap_local_params.yaml" command="load" /> -->
        
    </node>

</launch>
