<?xml version="1.0"?>

<launch>

    <arg if="$(optenv ROBOT_REAL false)" name="machine" default="amigo3"/>
    <arg unless="$(optenv ROBOT_REAL false)" name="machine" default="localhost"/>
    <include file="$(find amigo_machine_files)/machines/$(arg machine).machine" />
 
    <node name="gmapping_node" pkg="gmapping" type="slam_gmapping" respawn="true" machine="$(arg machine)" >
        <remap to="base_scan" from="scan"/>
        <remap from="/map" to="/loc_map"/>
        <param name="delta" value="0.025" />

	<param name="xmin" value="-10" />
	<param name="ymin" value="-10" />
	<param name="xmax" value="10" />
	<param name="ymax" value="10" />
<!--	<param name="srr"  value="10" />	
	<param name="srt"  value="10" />
	<param name="str"  value="10" />
	<param name="stt"  value="10" /> -->
	<param name="angularUpdate"  value="0.5" />

    </node>

</launch>



