<?xml version="1.0"?>

<launch>

    <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />
    <arg name="snapmap" default="false"/>
    <arg name="perception" default="true"/>
    <arg name="nav" default="true"/>          <!-- default navigation is used -->
    <arg name="3dnav" default="$(optenv AMIGO_3DNAV false)"/>       <!-- default navigation is based on 2d (laser) information -->
    <arg name="wbc" default="false"/>         <!-- if set to true, use whole body control -->
    <arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_A)"/>
    <arg name="wire_frame" default="/map"/>
    <arg name="wire_viz_frame" default="/map"/>
    
	<group if="$(arg ROBOT_REAL)">
		<!-- REAL ROBOT -->

		<!-- Start all sensors -->
		<include file="$(find amigo_launch_files)/launch/sensors/sensors.launch" />	
	</group>

    <group if="$(arg perception)">
        <!-- DEFAULT PERCEPTION SETTINGS-->
        <arg if="$(optenv SIM_GAZEBO false)" name="pein_real" default="false"/>        
        <arg unless="$(optenv SIM_GAZEBO false)" name="pein_real" default="true"/>
   
        <arg if="$(arg pein_real)" name="linemod_config" default="Demo"/>
        <arg unless="$(arg pein_real)" name="linemod_config" default="Simulation"/>

        <!-- START PERCEPTION -->
        <include file="$(find amigo_launch_files)/launch/middleware/perception.launch">
            <arg name="pein_real" value="$(arg pein_real)" />
            <arg name="linemod_config" value="$(arg linemod_config)"/>
        </include>
    </group>


    <!-- LOCALIZATION -->
    <include file="$(find amigo_launch_files)/launch/middleware/localization.launch"/>

	<!-- NAVIGATION -->
    <include file="$(find amigo_launch_files)/launch/middleware/navigation.launch"/>

		
	<!-- Head control -->
	<include file="$(find amigo_launch_files)/launch/middleware/head.launch" />	
	
	<!-- Arm and torso planning --> 
	<group unless="$(arg wbc)">
		<!-- Arm & gripper control -->
        <group if="$(optenv SIM_GAZEBO true)">
    		<include file="$(find amigo_launch_files)/launch/middleware/arms.launch" />
        </group>

        <group unless="$(optenv SIM_GAZEBO true)">
    		<include file="$(find amigo_launch_files)/launch/middleware/arms.launch">
            </include>
        </group>

		<!-- Spindle -->
		<include file="$(find amigo_launch_files)/launch/middleware/spindle.launch" />	
	</group>
	
	<group if="$(arg wbc)">
		<!-- Whole body controller -->
		<!--<include file="$(find amigo_whole_body_controller)/launch/start.launch"/>-->
		<!--<include file="$(find whole_body_planner)/start.launch"/>-->
		<include file="$(find amigo_gripper_server)/launch/start.launch" />
	</group>

	<!-- Reasoner -->
 	<include file="$(find amigo_launch_files)/launch/middleware/reasoner.launch"/>

    <!-- World Model -->
 	<include file="$(find amigo_launch_files)/launch/middleware/world_model.launch">
        <arg name="wire_viz_frame" value="$(arg wire_viz_frame)"/>
        <arg name="wire_frame" value="$(arg wire_frame)"/>
    </include>

	<!-- Node to attach world model object to gripper-->
	<node pkg="obj_in_gripper" type="obj_in_gripper_pub" name="obj_in_gripper"/>
	
	<!-- Start text to speech -->
    <include file="$(find amigo_launch_files)/launch/interaction/text_to_speech.launch" />	

    <!-- Start speech recognition -->
    <include file="$(find amigo_launch_files)/launch/interaction/speech_recognition.launch" />	

    <!-- Start speech interpreter -->
    <include file="$(find amigo_launch_files)/launch/interaction/speech_interpreter.launch" />	

	<!-- Skill Server -->
	<node pkg="amigo_skill_server" type="amigo_skill_server.py" name="amigo_skill_server"/>

</launch>
