<?xml version="1.0"?>

<launch>

    <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />
    <arg name="gmapping" default="false"/>
    <arg name="3dnav" default="false"/>
    <arg name="wbc" default="false"/>

	<group if="$(arg ROBOT_REAL)">
		<!-- REAL ROBOT -->

		<!-- Start all sensors -->
		<include file="$(find amigo_launch_files)/launch/sensors/sensors.launch" />	
	</group>

    <!-- DEFAULT PERCEPTION SETTINGS FOR REAL ROBOT -->
    <arg if="$(optenv ROBOT_REAL false)" name="gazebo_perception" default="false"/>
    <arg if="$(optenv ROBOT_REAL false)" name="pein_real" default="true"/>
    
    <!-- DEFAULT PERCEPTION SETTINGS FOR SIMULATION -->
    <arg unless="$(optenv ROBOT_REAL false)" name="gazebo_perception" default="true"/>
    <arg unless="$(optenv ROBOT_REAL false)" name="pein_real" default="false"/>

    <!-- START PERCEPTION -->
    <include file="$(find amigo_launch_files)/launch/middleware/perception.launch">
        <arg name="gazebo_perception" value="$(arg gazebo_perception)" />            
        <arg name="pein_real" value="$(arg pein_real)" />
    </include>
	
	<!-- Localization -->
    <group if="$(arg gmapping)">
        <!-- GMAPPING -->
    	<include file="$(find amigo_launch_files)/launch/middleware/gmapping.launch" />
    </group>

    <group unless="$(arg gmapping)">
        <!-- AMCL -->
    	<include file="$(find amigo_launch_files)/launch/middleware/localization.launch" />
    </group>

	<!-- Navigation -->
	<group unless="$(arg 3dnav)">
		<!-- 2d -->
		<include file="$(find amigo_launch_files)/launch/middleware/base_navigation.launch" />
	</group>
	
	<group if="$(arg 3dnav)">
		<!-- 3d -->
		<include file="$(find amigo_launch_files)/launch/middleware/base_navigation_3d.launch" />
	</group>
	
	<!-- Inverse reachability -->
	<include file="$(find amigo_launch_files)/launch/middleware/inverse_reachability.launch" />
	
	<!-- Head control -->
	<include file="$(find amigo_launch_files)/launch/middleware/head.launch" />	
	
	<!-- Arm and torso planning -->
	<group unless="$(arg wbc)">
		<!-- Arm & gripper control -->
		<include file="$(find amigo_launch_files)/launch/middleware/arms.launch" />

		<!-- Spindle -->
		<include file="$(find amigo_launch_files)/launch/middleware/spindle.launch" />	
	</group>
	
	<group if="$(arg wbc)">
		<!-- Whole body controller -->
		<include file="$(find amigo_whole_body_controller)/launch/start.launch"/>
	</group>

	<!-- Reasoner (including World Model) -->
	<include file="$(find amigo_launch_files)/launch/middleware/reasoner.launch"/>

	<!-- Node to attach world model object to gripper-->
	<node pkg="obj_in_gripper" type="obj_in_gripper_pub" name="obj_in_gripper"/>

		

	
	<!-- Start text to speech -->
    <include file="$(find amigo_launch_files)/launch/interaction/text_to_speech.launch" />	

</launch>
