<?xml version="1.0"?>

<launch>
   
	<arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_B)" />
	<arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />

    <group if="$(arg ROBOT_REAL)">
        <!-- REAL ROBOT -->

        <!-- Start all sensors -->
        <include file="$(find amigo_launch_files)/launch/sensors/sensors.launch" />
    </group>


    <!-- Localization -->
    <include file="$(find amigo_launch_files)/launch/middleware/localization.launch" />

    <!-- Navigation -->
    <include file="$(find cb_base_navigation)/launch/local_planner.launch" />
    <include file="$(find cb_base_navigation)/launch/global_planner.launch" />

    <!-- Head movement -->
	<include file="$(find head_ref)/launch/head_ref.launch" />

    <!-- Manipulation -->
    <include file="$(find amigo_launch_files)/launch/manipulation/manipulation.launch" />

	<!-- Gripper -->
    <include file="$(find amigo_gripper_server)/launch/start.launch" />

    <!-- RGBD (Kinect) server -->
    <include file="$(find rgbd)/launch/top_kinect_server.launch" />

    <!-- World Model -->
    <node name="ed_server" pkg="ed" type="ed_server" output="screen" />

    <!-- Action server -->
    <node name="action_server" pkg="action_server" type="action_server_main" output="screen" />
    <node name="action_server_py" pkg="action_server" type="main.py" output="screen" />

</launch>
