<?xml version="1.0"?>

<launch>	
	
	<!-- Localization -->
	<include file="$(find amigo_launch_files)/launch/middleware/gmapping.launch" />

	<!-- Navigation -->
	<include file="$(find amigo_launch_files)/launch/middleware/base_navigation.launch" />
	
	<!-- Inverse reachability -->
	<include file="$(find amigo_launch_files)/launch/middleware/inverse_reachability.launch" />
	
	<!-- Arm & gripper control -->
	<include file="$(find amigo_launch_files)/launch/middleware/arms.launch" />
	
	<!-- Head control -->
	<include file="$(find amigo_launch_files)/launch/middleware/head.launch" />	

	<!-- Spindle -->
	<include file="$(find amigo_launch_files)/launch/middleware/spindle.launch" />	
	
	<!-- World model -->
	<include file="$(find amigo_launch_files)/launch/middleware/world_model.launch" />
	
</launch>
