<?xml version="1.0"?>

<launch>	
	<!-- Create speech files -->
	<include file="$(find create_speech_files)/output_folder/speech.launch"/>

	<!-- Localization -->
	<include file="$(find amigo_launch_files)/launch/middleware/localization.launch" />

	<!-- Navigation -->
	<include file="$(find amigo_launch_files)/launch/middleware/base_navigation.launch" />
	
	<!-- Inverse reachability -->
	<include file="$(find amigo_launch_files)/launch/middleware/inverse_reachability.launch" />
		
	<!-- Arm & gripper control -->
	<include file="$(find amigo_launch_files)/launch/middleware/arms.launch" />
	
	<!-- Head control -->
	<include file="$(find amigo_launch_files)/launch/middleware/head.launch" />	

	<!-- Spindle -->
	<include file="$(find amigo_launch_files)/launch/middleware/spindle.launch" />	

	<!-- Reasoner for gpsr (including World Model) -->
	<include file="$(find amigo_launch_files)/launch/middleware/reasoner_gpsr.launch"/>	

	<!-- Perception: blob clustering -->
	<include file="$(find blob_clustering)/launch/start.launch"/>		
	
	<!-- Start interpreter -->
	<include file="$(find speech_interpreter)/launch/start.launch"/>	

</launch>


