<?xml version="1.0"?>

<launch>

    <arg name="machine" value="$(optenv MACHINE_BASE_NAVIGATION localhost)"/>
    <include file="$(find amigo_machine_files)/machines/$(arg machine).machine" />

    <arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_A)" />

    <node name="nav_map_server" pkg="map_server" type="map_server" args="$(find amigo_maps)/maps/$(arg env)/nav/yaml" output="screen" machine="$(arg machine)"> 
        <remap from="/map" to="/nav_map"/> 
    </node> 

</launch>
