<?xml version="1.0"?>

<launch>  

    <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo4.machine" />
    <include file="$(find amigo_machine_files)/machines/localhost.machine" />

    <arg if="$(optenv ROBOT_REAL false)" name="machine" value="amigo3"/>
    <arg unless="$(optenv ROBOT_REAL false)" name="machine" value="localhost"/>   

    <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /base_footprint /base_fixed_link 10 " machine="$(arg machine)"/>

</launch>



