<?xml version="1.0"?>

<launch>

    <node pkg="torso_server" type="torso_server" respawn="false" name="torso_server" output="screen" ns="amigo">
        <remap from="/amigo/torso_server/references" to="/amigo/torso/references"/>
        <remap from="/amigo/torso_server/measurements" to="/amigo/torso/measurements"/>
    </node>

</launch>
