<?xml version="1.0"?>

<launch>  

    <arg name="models" default="$(find amigo_launch_files)/parameters/world_object_models.xml" />

    <node pkg="wire_core" type="wire_server_node" respawn="false" name="wire_server" output="screen" >
        <rosparam file="$(find wire_core)/parameters/world_model.yaml" command="load" ns=""/>
        <param name="knowledge_filename" value="$(arg models)"/>   
    </node>

    <include file="$(find wire_viz)/launch/start.launch" />
     
</launch>



