<?xml version="1.0"?>

<launch>  

    <arg name="wire_frame" default="/map" />
    <arg name="wire_viz_frame" default="/map" />

    <include file="$(find wire_core)/launch/start.launch">
        <arg name="models" value="$(find tue_knowledge)/models/wire_models.xml" />
        <arg name="database_save_interval" value="0"/> <!-- do not use database files -->
        <arg name="wire_frame" value="$(arg wire_frame)"/>
    </include>

    <include file="$(find wire_viz)/launch/start.launch">
        <arg name="wire_viz_frame" value="$(arg wire_viz_frame)"/>
    </include>
     
</launch>

