<?xml version="1.0"?>

<launch>

<group unless="$(optenv ROBOT_SIM true)">
    <!-- REAL ROBOT -->

    <!-- GRAPHICAL USER INTERFACE -->
    <!--<include file="$(find amigo_launch_files)/launch/interaction/webui.launch" />-->

    <!-- DIAGNOSTICS -->
    <include file="$(find amigo_launch_files)/launch/diagnostics/diagnostics.launch" />
         
    <!-- robot model & integration with low level encoder data-->
    <include file="$(find amigo_state_publisher)/start.launch" />

    <!-- hardware controllers -->
    <include file="$(find amigo_launch_files)/launch/actuators/controller_enabler.launch" />

</group>

<group if="$(optenv ROBOT_SIM true)">
    <!-- SIMULATION -->
    
    <!-- Required simulation parameter -->
    <param name="/use_sim_time" value="true"/>

    <!-- start hospital room (export HEADLESS to -r if you want to run gazebo headless, this is done on the Jenkins server, ask Rob J-->
    <node name="gazebo" pkg="gazebo" type="gazebo" args="$(optenv GAZEBO_HEADLESS) $(find amigo_maps)/worlds/$(optenv ROBOT_MAP hospital_room).world" respawn="false" output="screen"/>
    <!--<node name="gazebo" pkg="gazebo" type="gazebo" args="$(optenv GAZEBO_HEADLESS) $(find amigo_maps)/worlds/go_get_it.world" respawn="false" output="screen"/>-->

    <!-- start controller manager (rviz) -->
    <include file="$(find pr2_controller_manager)/controller_manager.launch"/>

    <include file="$(find amigo_simulation_controllers)/controllers.launch"/>

    <!-- load robot -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find amigo_robot_model)/robot.urdf.xacro' " />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_amigo" pkg="gazebo" type="spawn_model" args=" -unpause -urdf -param robot_description -model amigo -x 0.5 -y 0.5 -z 0.1" respawn="false" output="screen" />
    <!--<node name="spawn_amigo" pkg="gazebo" type="spawn_model" args=" -unpause -urdf -param robot_description -model amigo -x -2 -y 0 -z 0.1" respawn="false" output="screen" />-->
    
</group>


<!-- Start all sensors -->
<include file="$(find amigo_launch_files)/launch/new/sensors.launch" />	


 </launch>
  
