<launch>
    <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
    
    <node name="amigo_etherCAT_hardware" machine="amigo2" pkg="ocl" type="deployer-gnulinux" args="-s $(find amigo_etherCAT)/hardware_ROStopics.ops -s $(find amigo_etherCAT)/soem.ops -s $(find amigo_base_controller)/base_ROStopics.ops -s $(find amigo_base_controller)/base_controller.ops -s $(find amigo_spindle_controller)/spindle_ROStopics.ops -s $(find amigo_spindle_controller)/spindle_controller.ops -s $(find dynamixel_ethercat)/head_ROStopics.ops -s $(find dynamixel_ethercat)/deploy_head.ops -s $(find amigo_pera_controller)/lpera_ROStopics.ops -s $(find amigo_pera_controller)/lpera.ops -s $(find rgb_lights)/rgb_ROStopics.ops -s $(find rgb_lights)/deploy_lights.ops --" output="screen"></node>   
    <!-- This part has been removed by Tim in order to seperately test the arms:
     -s $(find amigo_pera_controller)/lpera_ROStopics.ops -s $(find amigo_pera_controller)/lpera.ops --> 
    <!-- manual command: rosrun ocl deployer-gnulinux  -s /home/amigo/ros/tue-ros-pkg/trunk/tue_actuation/amigo_pera_controller/hardware_ROStopics.ops -s /home/amigo/ros/tue-ros-pkg/trunk/tue_actuation/amigo_etherCAT/soem.ops -s /home/amigo/ros/tue-ros-pkg/trunk/tue_actuation/amigo_base_controller/base_ROStopics.ops -s /home/amigo/ros/tue-ros-pkg/trunk/tue_actuation/amigo_base_controller/base_controller.ops -s /home/amigo/ros/tue-ros-pkg/trunk/tue_actuation/amigo_spindle_controller/spindle_ROStopics.ops -s /home/amigo/ros/tue-ros-pkg/trunk/tue_actuation/amigo_spindle_controller/spindle_controller.ops -s /home/amigo/ros/tue-ros-pkg/trunk/tue_actuation/dynamixel_ethercat/head_ROStopics.ops -s /home/amigo/ros/tue-ros-pkg/trunk/tue_actuation/dynamixel_ethercat/deploy_head.ops  -s /home/amigo/ros/tue-ros-pkg/trunk/tue_actuation/amigo_pera_controller/lpera_ROStopics.ops -s /home/amigo/ros/tue-ros-pkg/trunk/tue_actuation/amigo_pera_controller/lpera.ops -->        
</launch>
