<launch>
    <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
    
    <arg name="clean" default="true"/>
    
    <arg if="$(arg clean) name="clean_exit_ops" value="-s $(find rtt_custom_components)/clean_exit.ops"/>
    <arg unless="$(arg clean) name="clean_exit_ops" value=""/>
    
    <node name="amigo_left_arm" pkg="ocl" type="deployer-gnulinux" args="
    LEFT_ARM
    -s $(find amigo_pera_controller)/lpera.ops 
    $(arg clean_exit_ops)
    --" output="screen" machine="amigo2"></node>   
</launch>
