<launch>
    <include file="$(find amigo_machine_files)/machines/amigo1.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo2.machine" />
    <include file="$(find amigo_machine_files)/machines/amigo3.machine" />
    
    <node name="amigo_base_controller" machine="amigo2" pkg="ocl" type="deployer-gnulinux" args="-s $(find amigo_etherCAT)/soem.ops -s $(find dynamixel_ethercat)/head_ROStopics.ops -s $(find dynamixel_ethercat)/deploy_head.ops --" output="screen"></node>           
</launch>
